version: '3'

services: 
  oracle-db:
    image: gvenzl/oracle-xe:latest
    environment:
        ORACLE_PASSWORD: oracle
    ports:
      - 1521:1521
      - 5500:5500
    volumes:
    - ./oradata:/opt/oracle/oradata